.dropdown-menu form button {
  width: 100%;
}
.inline, .box-footer {
  text-align: center;
}
.inline form {
  display: inline-block !important;
}
.validate-form {
  width: auto;
  border: 0;
  margin: 0;
  padding: 0;
}
.delete-btn {
  float: right;
}
